---
name: Pull Request Validation
on:
  pull_request:
env:
  PYTHON_VERSION: "3.11"
jobs:
  # MARK: - dbt
  codegen-dbt-sources:
    name: dbt::codegen-properties
    runs-on: ubuntu-latest
    permissions:
      contents: write
    if: ${{ ! startsWith(github.head_ref, 'dependabot/') }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Setup PDM
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: true
      - name: Install dependencies
        run: |
          pdm install --prod
          pdm run dbt deps --project-dir src/duck_f1/transform
      - name: Seed data
        run: pdm run duck-f1 -o /tmp/data run --session-sha eb2f7f20
      - uses: actions/setup-go@v5
        with:
          go-version: ">=1.18.0"
      - name: Install yamlfmt
        run: |
          go install github.com/google/yamlfmt/cmd/yamlfmt@v0.13.0
      - name: Generate missing model properties
        run: |
          pipx install dbt-coves
          pipx inject dbt-coves dbt-duckdb
          pdm run dbt-coves generate properties \
            --project-dir src/duck_f1/transform \
            --profiles-dir src/duck_f1/transform \
            --target ci \
            --update-strategy update \
            --no-prompt
      - name: Run yamlfmt
        run: |
          yamlfmt ./src/duck_f1/transform/models
      - uses: stefanzweifel/git-auto-commit-action@v7
        id: auto-commit-action
        with:
          commit_message: "chore(codegen): apply code generation changes"
          commit_user_name: memadore
          commit_user_email: memadore@users.noreply.github.com
  dbt-parse:
    name: dbt::parse
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Setup PDM
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: true
      - name: Install dependencies
        run: |
          pdm install --prod
          pdm run dbt deps --project-dir src/duck_f1/transform
      - name: Parse dbt project
        run: |
          pdm run dbt parse \
            --project-dir src/duck_f1/transform \
            --profiles-dir src/duck_f1/transform \
            --vars '{db_dir: "/tmp/data", db_name: "f1"}' \
            --target dist
  dbt-compile:
    name: dbt::compile
    runs-on: ubuntu-latest
    needs:
      - codegen-dbt-sources
      - dbt-parse
      - yaml-lint
    strategy:
      matrix:
        version: ["3.9", "3.10", "3.11"]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Python ${{ matrix.version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.version }}
      - name: Setup PDM
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: ${{ matrix.version }}
          cache: true
      - name: Install python dependencies
        run: |
          pdm install --prod
      - name: Prepare dbt project
        run: |
          pdm run dbt deps --project-dir src/duck_f1/transform
          pdm run dbt parse \
            --project-dir src/duck_f1/transform \
            --profiles-dir src/duck_f1/transform \
            --vars '{db_dir: "/tmp/data", db_name: "f1"}' \
            --target dist
      - name: Seed data
        run: pdm run duck-f1 -o /tmp/data run --session-sha eb2f7f20
      - name: Compile project
        run: |
          pdm run dbt compile \
            --project-dir src/duck_f1/transform \
            --profiles-dir src/duck_f1/transform \
            --vars '{db_dir: "/tmp/data", db_name: "f1"}' \
            --target dist
  dbt-docs:
    name: dbt::docs
    runs-on: ubuntu-latest
    needs:
      - dbt-compile
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Setup PDM
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: true
      - name: Install python dependencies
        run: |
          pdm install --prod
      - name: Prepare dbt project
        run: |
          pdm run dbt deps --project-dir src/duck_f1/transform
          pdm run dbt parse \
            --project-dir src/duck_f1/transform \
            --profiles-dir src/duck_f1/transform \
            --vars '{db_dir: "/tmp/data", db_name: "f1"}' \
            --target dist
      - name: Seed data
        run: pdm run duck-f1 -o /tmp/data run --session-sha eb2f7f20
      - name: Generate Docs
        run: |
          pdm run dbt docs generate  \
            --project-dir src/duck_f1/transform \
            --profiles-dir src/duck_f1/transform \
            --vars '{db_dir: "/tmp/data", db_name: "f1"}' \
            --target dist
  # MARK: - python
  lint-python:
    name: lint::python
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Setup PDM
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: true
      - name: Install dependencies
        run: |
          pdm install --group lint
      - name: Run tests
        run: |
          pdm run ruff format --check src/duck_f1/pipelines
  tests-python-unit:
    runs-on: ubuntu-latest
    name: tests::python::unit
    needs:
      - codegen-dbt-sources
      - dbt-parse
      - lint-python
    strategy:
      matrix:
        version: ["3.9", "3.10", "3.11"]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Python ${{ matrix.version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.version  }}
      - name: Setup PDM
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: ${{ matrix.version  }}
          cache: true
      - name: Install dependencies
        run: |
          pdm install --group test
          pdm run dbt deps --project-dir src/duck_f1/transform
          pdm run dbt parse \
            --project-dir src/duck_f1/transform \
            --profiles-dir src/duck_f1/transform \
            --vars '{db_dir: "/tmp/data", db_name: "f1"}' \
            --target dist
      - name: Run tests
        run: |
          pdm run coverage run -m pytest tests -v --junitxml=report.xml
          pdm run coverage xml
          pdm run coverage report --show-missing --precision=2
  # MARK: - sql
  lint-sql:
    name: lint::sql
    runs-on: ubuntu-latest
    needs:
      - dbt-parse
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Setup PDM
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: true
      - name: Install dependencies
        run: |
          pdm install --group lint
          mkdir data
          pdm run dbt deps --project-dir src/duck_f1/transform
          pdm run duck-f1 run --session-sha eb2f7f20
      - name: Run tests
        run: |
          pdm run sqlfluff lint src/duck_f1/transform/models
  # MARK: - yaml
  yaml-lint:
    runs-on: ubuntu-latest
    name: lint::yaml
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ">=1.18.0"
      - name: Install yamlfmt
        run: go install github.com/google/yamlfmt/cmd/yamlfmt@v0.13.0
      - name: Run yamlfmt
        run: |
          yamlfmt -lint .
